VITE_unsplashAccessKey = YOUR_ACCESS_KEY
VITE_unsplashAPI = YOUR_API
VITE_pexelsAPI = YOUR_API
VITE_pexelsAPIKey = YOUR_API_KEY
VITE_pixabayAPI = YOUR_API
VITE_pixabayAPIKey = YOUR_API_KEY

PORT = Default 5000
MONGO_URI= YOUR_URI
JWT_SECRET= YOUR_SECRET_GENERATOR_STRING
VITE_API_URL= YOUR_API_OR_LOCALHOST

CLOUDINARY_CLOUD_NAME= YOUR_CLOUD_NAME
CLOUDINARY_API_KEY= YOUR_API_KEY
CLOUDINARY_API_SECRET= YOUR_API_SECRET

RESEND_API_KEY=YOUR_EMAILER_API_KEY
