header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: var(--bg-secondary);
    z-index: 100;
}

.appName {
    color: var(--primary);
    user-select: none;
    font-size: var(--text-xl);
    font-weight: var(--font-bold);
    letter-spacing: 1px;
}

.apiSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-xs);
    gap: var(--space-xs);
    border-radius: var(--space-sm);
    border: 1px solid var(--border-dark);
}

.navbarAPI {
    color: var(--text-secondary);
    cursor: pointer;
    transition: .2s ease-in;
    background-color: var(--bg-secondary);
    padding: 8px 12px;
    border-radius: var(--space-xs);
    border: 1px solid var(--border-medium);
    font-size: var(--text-sm);
    user-select: none;

    &:hover {
        color: var(--text-primary);
        background-color: var(--primary);
        transform: scale(1.05);
    }

    &.active {
        color: var(--text-primary);
        background-color: var(--primary-low);
    }
}



.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userPfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.navbarButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
}

.navbarButton {
    background-color: var(--bg-tertiary);
    border: 1px solid var(--bg-tertiary);
    color: var(--text-primary);
    font-size: var(--text-xs);
    border-radius: var(--space-xs);
    padding: var(--space-xs);
    cursor: pointer;
    transition: .1s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}


@media (max-width:768px) {
    header {
        padding: var(--space-lg) var(--space-md);
        gap: var(--space-xs);
    }

    .appName {
        font-size: var(--text-sm);
        letter-spacing: 0;
    }

    .apiSelect {
        gap: 3px;
        padding: 3px;
    }

    .navbarAPI {
        padding: var(--space-xs) ;
        font-size: var(--text-xxs);
        white-space: nowrap;
    }

    #userPfp {
        width: 30px;
        height: 30px;
    }

    .navbarButton {
        padding: var(--space-xs) ;
        font-size: var(--text-xxs);
        white-space: nowrap;
    }
}