
.sideBarWrapper {
    position: fixed;
    top: 45px;
    left: 0;
    width: 50px;
    height: calc(100vh - 45px);
    padding: var(--space-md);
    background-color: var(--bg-secondary);
    z-index: 99;
}

.sideBarIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
    cursor: pointer;
}
