@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    /* bacground & foreground */
    --bg-primary: oklch(15% 0.02 260);
    --bg-secondary: oklch(20% 0.02 260);
    --bg-tertiary: oklch(25% 0.02 260);
    --foreground: oklch(30% 0.02 260);
    --foreground-hover: oklch(35% 0.02 260);

    /* primary & secondary */
    --primary: oklch(35% 0.4 300);
    --primary-hover: oklch(30% 0.4 300);

    --secondary: oklch(50% 0.03 260);
    --secondary-hover: oklch(55% 0.03 260);

    /* success & danger & warning */
    --success: oklch(65% 0.18 145);
    --success-hover: oklch(60% 0.2 145);

    --warning: oklch(75% 0.18 70);
    --warning-hover: oklch(70% 0.2 70);

    --danger: oklch(60% 0.22 25);
    --danger-hover: oklch(55% 0.24 25);

    /* text */
    --text-primary: oklch(95% 0.01 260);
    --text-secondary: oklch(70% 0.01 260);
    --text-muted: oklch(50% 0.01 260);

    /* font size & weight */
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-xxl: 1.5rem;
    --text-xxxl: 2rem;

    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* border color & radius */
    --border-light: oklch(30% 0.02 260);
    --border-medium: oklch(35% 0.02 260);
    --border-dark: oklch(40% 0.02 260);

    --radius-sm: 5px;
    --radius-md: 10px;
    --radius-lg: 15px;
    --radius-xl: 20px;
    --radius-round: 50%;

    /* space */
    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.25rem;
    --space-xl: 1.5rem;
    --space-xxl: 2rem;
}

* {
    font-family:
        "Poppins",
        system-ui,
        -apple-system,
        sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

.exclamationMark {
    font-weight: var(--font-bold);
    font-size: var(--text-xxxl);
    color: var(--text-primary);
}

.searchWrapper {
    width: 100%;
    padding: var(--space-md);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.searchBarWrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-dark);
    border-radius: var(--space-xs);
    padding: var(--space-xs);
}

.searchInputRow {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #queryInput {
        width: 100%;
        padding: var(--space-xs);
        background: transparent;
        border-radius: var(--space-xxs);
        border: none;
        outline: none;
        color: var(--text-primary);
    }

    .iconWrapper {
        position: absolute;
        top: var(--space-xs);
        right: var(--space-xs);
        cursor: pointer;
        transition: .1s ease-in-out;

        &:active {
            transform: scale(0.95);
        }
    }
}

.searchOptionsRow{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.loadingState{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentWrapper {
    columns: 5;
    column-gap: 10px;
    padding: var(--space-md);
}

.imageWrapper {
    break-inside: avoid;

    img {
        width: 100%;
        height: auto;
        transition: .2s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }
    }
}

.toastWrapper {
    position: fixed;
    top: 40px;
    right: 20px;
    transform: translateX(300px);
    width: 200px;
    height: 60px;
    padding: var(--space-xs);
    background-color: var(--warning);
    border-radius: var(--radius-md);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 101;
    transition: 1.5s ease;

    #toastMessage {
        font-size: var(--text-sm);
        color: var(--text-primary);
    }
}

.toastWrapper.show {
    opacity: 1;
    transform: translateX(0);
}

.isLoadingSpan {
    color: var(--text-primary);
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: oklch(10% 0.02 260 / 0.9);
    z-index: 1000;
    user-select: none;
}

.photoModal {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--border-medium);
    border-radius: var(--space-sm);
    padding: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--space-sm);
    }

    .downloadImageSVG {
        position: absolute;
        bottom: 0.75rem;
        right: 0.75rem;
        width: 2rem;
        height: 2rem;
        padding: var(--space-xxs);
        background-color: var(--bg-secondary);
        border-radius: var(--space-sm);
        transition: 0.2s ease-in-out;
        color: var(--text-secondary);

        &:hover {
            background-color: var(--bg-tertiary);
            color: var(--text-primary);
        }
    }
}

@media (max-width:1440px) {
    .contentWrapper {
        columns: 4;
    }
}

@media (max-width:1024px) {
    .contentWrapper {
        columns: 3;
    }
}


@media (max-width:769px) {
    .contentWrapper {
        columns: 2;
    }
}

header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: var(--bg-primary);
    z-index: 100;
}

.appName {
    color: var(--primary);
}

.apiSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbarAPI {
    color: var(--text-secondary);
    cursor: pointer;
    transition: .2s ease-in;
    background-color: var(--bg-secondary);
    padding: 8px 12px;
    border-radius: 5px;
    font-size: var(--text-sm);
    user-select: none;

    &:hover {
        color: var(--text-primary);
        background-color: var(--bg-tertiary);
    }
}

.active {
    color: var(--text-primary);
    background-color: var(--bg-tertiary);
}

.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userPfp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.resulationSelect {
    padding: var(--space-xxs);
    border-radius: var(--space-xxs);
    color: var(--text-primary);
    width: 80px;
    font-size: var(--text-sm);
    cursor: pointer;
    transition: .3s ease-out;
    &:hover{
        background-color: var(--foreground);
    }
}

.optionWrapper {
    position: absolute;
    border-radius: var(--space-xxs);
    border: 1px solid var(--bg-secondary);
    color: var(--text-secondary);
    margin-top: var(--space-xxs);
}

.resulationOption {
    padding: var(--space-xxs);
    border-bottom: 1px solid var(--bg-primary);
    width: 80px;
    
}

.res1080P,
.res2K,
.res4K,
.resOriginal {
    &:hover {
        color: var(--text-primary);
        cursor: pointer;
    }
}