@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family:
        "Poppins",
        system-ui,
        -apple-system,
        sans-serif;
}

body {
    width: 100%;
}

html {
    &::-webkit-scrollbar {
        width: var(--space-sm);
        padding: var(--space-lg);
    }
    &::-webkit-scrollbar-track {
        background: var(--bg-primary) !important;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--danger) !important;
    }
}